[Unit]
Description=Common cheatcodes in live media
ConditionPathExists=/usr/share/xperimental-common-livesettings/
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/share/xperimental-common-livesettings/common-cheatcodes start

[Install]
WantedBy=basic.target
